html, body {
  font-family: 'Amatic SC', cursive;
  background-color: #ecf0f1;
  height: 90vh;
  font-size: 30px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.title {
  text-align: center;
  font-size: 50px;
}

.score {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  justify-content: space-evenly;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.move {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: auto;
  margin-top: 50px;
}

.span-result {
  padding: 50px;
  border-radius: 20px;
  color: #ecf0f1;
}

.result-win {
  background-color: #2ecc71;
}

.result-draw {
  background-color: #f1c40f;
}

.result-defeat {
  background-color: #e74c3c;
}

.span-computer {
  margin-top: 20px;
}

.restart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.reset {
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
  background-color: #2c3e50;
  border: 0;
}

.reset:hover {
  box-shadow: 0 0 0 5px rgba(48, 51, 107,.2), 
  0 0 0 10px rgba(48, 51, 107,.2)
}

.reset:enabled {
  color: #ecf0f1;
}

#paper:hover, #rock:hover, #scissors:hover {
  border-radius: 100%;
  border: 0px #394a5f;
  box-shadow: 0 0 0 5px rgba(48, 51, 107,.2), 
              0 0 0 10px rgba(48, 51, 107,.2)
}

@media only screen and (max-width: 800px) {
  .img-move {
    width: 20vw;
    height: 20vw;
  }
}

